* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: 120ch;
  margin: 0 auto;
  padding: 1ch;

  display: flex;
  flex-direction: column;
  gap: 1ch;
  align-items: flex-start;
  justify-content: flex-start;
}

button {
  min-width: 4rem;
}

.BankBar {


  display: flex;
  gap: 3px;
}