* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: 80ch;
  margin: 0 auto;
  padding: 1ch;

  display: flex;
  flex-direction: column;
  gap: 1ch;
  align-items: flex-start;
  justify-content: flex-start;
}

button {
  min-width: 4rem;
}

.bar {
  min-width: 80ch;
  min-height: 5ch;
  border: 2px solid black;
  padding: 1ch;
  border-radius: 5px;

  display: flex;
  gap: 3px;
}